* {
  margin: 0;
  padding: 0;

}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top left,
      rgb(6, 6, 31),
      rgb(21, 21, 58),
      rgb(12, 2, 68));
}

.outer-shape {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9px;
  border-color: azure;
  border: 3px solid rgb(33, 34, 90);
  display: inline-block;
  width: 380px;
  padding: 20px;
  background: radial-gradient(ellipse at bottom right,
      rgb(6, 6, 61),
      rgb(4, 36, 85),
      rgb(31, 29, 43));
}
.inner-shape {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.h1-p h1 {
  color: rgb(190, 214, 250);

  font-size: 46px;
  font-family: Arial, Helvetica, sans-serif
}

.h1-p p {
  color: rgba(138, 138, 138, 0.493);
  font-weight: 900;
  margin-top: 14px;
  margin-left: 26px;

}

.h1-p {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  margin-left: 60px;

}

.form-icon {
  display: flex;
  align-items: center;
  gap: 20px;

}

.form {
  border-radius: 999px;
  padding: 8px;
  display: inline-block;
  width: 260px;
  color: blue;
  font-size: 16px;
  font-weight: 400;
  font-family: monospace;
  outline: none;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    background 0.3s ease;
}

.form:hover,
.form:focus {
  border-color: rgba(0, 153, 255, 0.6);
  box-shadow:
    0 0 8px rgba(0, 153, 255, 0.35);
}

.fa-solid {
  cursor: pointer;
  font-size: 42px;
  color: white;
  background: linear-gradient(135deg, #0a2e55, #040277);
  border-radius: 50%;
  box-shadow:
    0 0 8px rgba(77, 163, 255, 0.6);
}
.h3-2icons-p {
  display: flex;
flex-direction: column;
}
.row-task {
 display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.item {
   padding: 8px 12px;
  margin-bottom: 12px;
  margin-top: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  backdrop-filter: blur(12px);
}
.icons {
  display: flex;
  gap: 10px;
}

.fa-circle-check {
  font-size: 30px;
  color: #00ff08;
}

.fa-circle-xmark {
  font-size: 30px;
  color: #ff0202;
}
.item p:last-child {
  font-size: 12px;
  margin-top: 2px;
  color: rgba(255, 255, 255, 0.4);
}
.taskText {
  font-size: 28px;
  color: white;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}